body {
  font-family: "freight-sans-pro", "Lato", Helvetica, sans-serif;
  color: white;
}
::selection {
  background: #464542;
}
::-moz-selection {
  background: #464542;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 28px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  font-weight: 500;
}
h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}
a:hover,
a:hover,
a:focus {
  color: #121111;
  text-decoration: none;
}
a:link {
  color: #eb5055;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  transition: color 300ms linear;
}
p {
  margin-bottom: 1em;
}
span.colorHighlight1 {
  color: #464542;
}
span.colorHighlight2 {
  color: #eb5055;
}
span.backgroundHighlight1 {
  background-color: #464542;
  padding: 0.3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
span.backgroundHighlight2 {
  background-color: #eb5055;
  padding: 0.3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
span.underline {
  border-bottom: 2px dashed #eb5055;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}
.white {
  color: white !important;
}
.page-header {
  border-bottom: none;
}
.slideRight {
  -webkit-animation: slideRight 0.5s  1;
  /* Safari 4+ */

  -moz-animation: slideRight 0.5s  1;
  /* Fx 5+ */

  -o-animation: slideRight 0.5s  1;
  /* Opera 12+ */

  animation: slideRight 0.5s  1;
  /* IE 10+ */

}
.slideUp {
  -webkit-animation: slideUp 1s 1;
  /* Safari 4+ */

  -moz-animation: slideUp 1s 1;
  /* Fx 5+ */

  -o-animation: slideUp 1s 1;
  /* Opera 12+ */

  animation: slideUp 1s 1;
  /* IE 10+ */

}
.liftUp {
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.liftUp:hover {
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -o-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-2000px) rotate(-45deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
  }
}
@-moz-keyframes slideRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px) rotate(-45deg);
  }
  100% {
    -moz-transform: translateX(0px) rotate(0deg);
  }
}
@-o-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-2000px) rotate(-45deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(2000px) rotate(-45deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
}
@-moz-keyframes slideUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px) rotate(-45deg);
  }
  100% {
    -moz-transform: translateY(0px) rotate(0deg);
  }
}
@-o-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(2000px) rotate(-45deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
.sidenav ul {
  list-style: none;
}
.sidenav ul .current a {
  background: white;
}
.user-form {
  margin: 0;
}
.user-form div.divider {
  margin: 1.5em 0;
  text-align: center;
  color: #666;
}
.user-form div.divider span.dashed-line {
  border-bottom: 1px dashed #aaa;
  position: relative;
  display: inline-block;
  width: 30%;
  margin: 0 12px 3px 12px;
}
.user-form input[type='text'],
.user-form input[type='email'],
.user-form input[type='password'],
.user-form textarea {
  width: 93%;
}
.user-form input[type='text'].name {
  background: #ffffff url('../img/user.png') no-repeat 95% 50%;
}
.user-form input[type='email'],
.user-form .email {
  background: #ffffff url('../img/mail.png') no-repeat 95.5% 50%;
}
.user-form input[type='password'] {
  background: #ffffff url('../img/lock.png') no-repeat 94.5% 50%;
}
.user-form input[type='submit'] {
  margin: 1.5em 0 0;
  padding: 0.7em 0.5em;
  width: 100%;
}
.user-form div.form-text {
  text-align: center;
  margin-top: 2em;
  font-size: 0.9em;
  font-weight: 400;
}
.user-form div.form-text a {
  color: #999;
}
.user-form div.form-text a:hover {
  color: #444;
}
#contact-form {
  width: 320px;
  background: #fafafa;
  padding-bottom: 2.5em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 6px #dddddd;
  -moz-box-shadow: 0 6px #dddddd;
  box-shadow: 0 6px #dddddd;
}
#contact-form h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}
.mfp-container .mfp-close {
  background: #464542;
}
.wrapper > nav {
  position: fixed;
  z-index: 9999;
  right: 100px;
  top: 50%;
  width: 26px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wrapper > nav a {
  display: block;
  position: relative;
  z-index: 9999;
  color: transparent;
  width: 26px;
  height: 26px;
  outline: none;
  margin: 25px 0;
  border-radius: 50%;
  border: 4px solid #fff;
}
.no-touch .wrapper > nav a:hover {
  background: rgba(255, 255, 255, 0.6);
}
.wrapper > nav a.current {
  background: #fff;
}
.btn {
  padding: 9px 20px;
  border: none;
  background-image: none;
  background: #eb5055;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
.btn:hover,
.btn:focus {
  background: #e8393f;
  color: white;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.75);
}
.btn.disabled,
.btn[disabled] {
  color: white;
}
.btn-large {
  padding: 18px 36px;
}
.btn-small {
  padding: 2px 12px;
}
.btn-mini {
  padding: 1px 8px;
}
.btn.cta {
  position: relative;
  background: #eb5055;
  color: #fff;
  padding: 25px 80px;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 6px #e72b31;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.cta:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.cta:hover {
  box-shadow: 0 4px #e72b31;
  top: 2px;
}
.btn.cta:active {
  box-shadow: 0 0 #e72b31;
  top: 6px;
}
.btn.cta.contact {
  padding: 15px 40px;
}
.btn.facebook {
  display: block;
  margin: 0.3em 0 0;
  padding: 0.5em 0.7em;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #3b5998;
}
.btn.facebook:before {
  font-family: 'icomoon';
  content: "\e2f8";
  font-size: 1.2em;
  margin-right: 10px;
}
.btn.facebook:hover {
  background: #344e86;
}
.btn.twitter {
  display: block;
  margin: 0.3em 0 0;
  padding: 0.5em 0.7em;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #00acee;
}
.btn.twitter:before {
  font-family: 'icomoon';
  content: "\e2fc";
  font-size: 1.2em;
  margin-right: 10px;
}
.btn.twitter:hover {
  background: #009ad5;
}
.btn.google {
  display: block;
  margin: 0.3em 0 0;
  padding: 0.5em 0.7em;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #db4a39;
}
.btn.google:before {
  font-family: 'icomoon';
  content: "\e2f4";
  font-size: 1.2em;
  margin-right: 10px;
}
.btn.google:hover {
  background: #d43927;
}
form label {
  color: #666;
}
form textarea,
form input[type="text"],
form input[type="password"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="week"],
form input[type="number"],
form input[type="email"],
form input[type="url"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
form .uneditable-input {
  color: black;
  padding: 0.7em 0.5em;
  border: 1px solid #aaa;
  text-indent: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
form textarea:-moz-placeholder,
form input[type="text"]:-moz-placeholder,
form input[type="password"]:-moz-placeholder,
form input[type="datetime"]:-moz-placeholder,
form input[type="datetime-local"]:-moz-placeholder,
form input[type="date"]:-moz-placeholder,
form input[type="month"]:-moz-placeholder,
form input[type="time"]:-moz-placeholder,
form input[type="week"]:-moz-placeholder,
form input[type="number"]:-moz-placeholder,
form input[type="email"]:-moz-placeholder,
form input[type="url"]:-moz-placeholder,
form input[type="search"]:-moz-placeholder,
form input[type="tel"]:-moz-placeholder,
form input[type="color"]:-moz-placeholder,
form .uneditable-input:-moz-placeholder {
  color: #acb6c0;
}
form textarea:-ms-input-placeholder,
form input[type="text"]:-ms-input-placeholder,
form input[type="password"]:-ms-input-placeholder,
form input[type="datetime"]:-ms-input-placeholder,
form input[type="datetime-local"]:-ms-input-placeholder,
form input[type="date"]:-ms-input-placeholder,
form input[type="month"]:-ms-input-placeholder,
form input[type="time"]:-ms-input-placeholder,
form input[type="week"]:-ms-input-placeholder,
form input[type="number"]:-ms-input-placeholder,
form input[type="email"]:-ms-input-placeholder,
form input[type="url"]:-ms-input-placeholder,
form input[type="search"]:-ms-input-placeholder,
form input[type="tel"]:-ms-input-placeholder,
form input[type="color"]:-ms-input-placeholder,
form .uneditable-input:-ms-input-placeholder {
  color: #acb6c0;
}
form textarea::-webkit-input-placeholder,
form input[type="text"]::-webkit-input-placeholder,
form input[type="password"]::-webkit-input-placeholder,
form input[type="datetime"]::-webkit-input-placeholder,
form input[type="datetime-local"]::-webkit-input-placeholder,
form input[type="date"]::-webkit-input-placeholder,
form input[type="month"]::-webkit-input-placeholder,
form input[type="time"]::-webkit-input-placeholder,
form input[type="week"]::-webkit-input-placeholder,
form input[type="number"]::-webkit-input-placeholder,
form input[type="email"]::-webkit-input-placeholder,
form input[type="url"]::-webkit-input-placeholder,
form input[type="search"]::-webkit-input-placeholder,
form input[type="tel"]::-webkit-input-placeholder,
form input[type="color"]::-webkit-input-placeholder,
form .uneditable-input::-webkit-input-placeholder {
  color: #acb6c0;
}
form textarea:focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
form .uneditable-input:focus {
  border-color: #1abc9c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
form label.checkbox {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  font-size: 13px;
}
form label.checkbox:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form input[type="checkbox"] {
  display: none;
}
form input[type="checkbox"]:before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form input[type=checkbox]:checked + label:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f00c";
  font-size: 15px;
  font-weight: normal;
  color: #666;
  text-align: center;
  line-height: 19px;
}
form .input-prepend .add-on:first-child,
form .input-prepend .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
form .input-append input,
form .input-append select,
form .input-append .uneditable-input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
form .input-append input + .btn-group .btn:last-child,
form .input-append select + .btn-group .btn:last-child,
form .input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
form .input-append .add-on:last-child,
form .input-append .btn:last-child,
form .input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
form .input-prepend.input-append input,
form .input-prepend.input-append select,
form .input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
form .input-prepend.input-append input + .btn-group .btn,
form .input-prepend.input-append select + .btn-group .btn,
form .input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
form .input-prepend.input-append .add-on:first-child,
form .input-prepend.input-append .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
form .input-prepend.input-append .add-on:last-child,
form .input-prepend.input-append .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
form .input-append .add-on,
form .input-prepend .add-on {
  padding: 9px 5px;
  text-shadow: none;
}
form input:focus:invalid:focus,
form textarea:focus:invalid:focus,
form select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
form .control-group.error,
form .control-group.error input:focus,
form .control-group.error textarea:focus {
  border-color: #e74c3c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
form .control-group.success,
form .control-group.success input:focus,
form .control-group.success textarea:focus {
  border-color: #2ecc71;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
form .control-group.warning,
form .control-group.warning input:focus,
form .control-group.warning textarea:focus {
  border-color: #f1c40f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
form .control-group.info,
form .control-group.info input:focus,
form .control-group.info textarea:focus {
  border-color: #3498db;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
form input[disabled],
form input[readonly],
form textarea[disabled],
form textarea[readonly] {
  background-color: #eaeded;
  border-color: transparent;
  color: #cad2d3;
  cursor: default;
}
form input[type="file"] {
  line-height: 16px;
}
form .input-append .add-on,
form .input-prepend .add-on {
  border: none;
  background: none;
}
form legend {
  border-bottom: none;
  color: #2c3e50;
}
form .form-actions {
  border-top: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #e6e3d9;
}
.alert {
  background-color: #e67e22;
  color: #ffffff;
  text-shadow: none;
}
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
  color: #ffffff;
}
.alert-error {
  background-color: #f24d35;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-info {
  background-color: #043d5d;
}
.label {
  padding: 6px 10px;
  text-shadow: none;
}
.badge {
  padding: 6px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-shadow: none;
}
.well {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress {
  background: #f0eee8;
  border-radius: 32px;
  height: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress .bar {
  background-color: #2c3e50;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress .bar + .bar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress-striped .bar {
  background-color: #2c3e50;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar,
.progress-success.progress-striped .bar,
.progress .bar-success {
  background-color: #2ecc71;
}
.progress-warning .bar,
.progress-warning.progress-striped .bar,
.progress .bar-warning {
  background-color: #f1c40f;
}
.progress-danger .bar,
.progress-danger.progress-striped .bar,
.progress .bar-danger {
  background-color: #f24d35;
}
.progress-info .bar,
.progress-info.progress-striped .bar,
.progress .bar-info {
  background-color: #043d5d;
}
.tip {
  margin: 0 auto;
}
.tooltip .tooltip-inner {
  max-width: 200px;
  padding: 15px;
  color: #666;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.tooltip .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -10px !important;
  border-width: 10px 10px 0 !important;
  border-top-color: white !important;
}
.tooltip.in {
  opacity: 1;
}
.popover {
  color: #ffffff;
  background: #fafafa;
  padding: 33px 25px 29px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px #dddddd;
  -moz-box-shadow: 0 6px #dddddd;
  box-shadow: 0 6px #dddddd;
}
.popover:before,
.popover:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 10px;
  background: inherit;
  border-radius: 4px;
}
.popover:after {
  bottom: 3px;
  border-color: #dcdcdc;
}
.popover h2 {
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #666;
  text-align: center;
}
.popover h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #464542;
  border-radius: 5px 5px 0 0;
}
.popover-title {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.popover .popover-content {
  padding: 9px 14px 0;
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #464542;
  top: -11px;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #464542;
}
.modal-header {
  background-color: #2c3e50;
  border-bottom: none;
  color: #ffffff;
}
.modal-footer {
  background-color: #f0eee8;
  border-top: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mfp-container {
  color: #666;
}
.mfp-container button,
.mfp-container .button {
  margin: 0;
}
.mfp-container h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #666;
}
.close {
  text-shadow: none;
}
header {
  height: 70px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 900;
  padding: 1em;
}
header .logo {
  margin: 0 0.7em;
  font-weight: bold;
}
header .logo a {
  color: #464542;
}
header .logo.featured a {
  /*color: #3498DB !important;*/
  color: white !important;
}
header .logo span {
  font-weight: 100;
}
header .logo .home {
  color: #c8c0aa;
}
header .logo .section1 {
  color: #000000;
}
header .logo .section2 {
  color: #ae2620;
}
.header-cta {
  padding: 0;
  margin: 0 0.8em;
}
#home {
  position: relative;
  color: white;
}
#home span {
  color: #3498db;
}
#home .container {
  height: 100%;
}
#home .helper {
  height: 30%;
  width: 100%;
  margin-bottom: -170px;
}
#home .hero-content {
  width: 100%;
  height: 340px;
  margin: 0 auto;
  position: static;
}
#home .hero-content h1 {
  font-size: 3.7em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: 0.1em;
  line-height: 1.5em;
}
#home .hero-content p {
  font-size: 2em;
}
#home .hero-content a.scroll {
  position: relative;
  margin-top: 4em;
  padding: 1.5em 2em;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
#home .featured-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 90;
}
section {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 4em 0;
}
section h1 {
  font-size: 4em;
  line-height: 1.3em;
  font-weight: 100;
  margin-bottom: 1em;
}
section h2 {
  font-size: 2em;
  line-height: 1.3em;
  font-weight: 100;
  margin: 2em 0 1em;
}

#demo .container {
  height: 100%;
}
#demo .helper {
  height: 50%;
  width: 100%;
  margin-bottom: 0px;
}
#demo .hero-content {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  position: static;

}
#demo .hero-content h1 {
  font-size: 3.7em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: 0.1em;
  line-height: 1.5em;
}
#demo .hero-content p {
  font-size: 2em;
}
#demo .hero-content a.scroll {
  position: relative;
  margin-top: 1em;
  padding: 1.5em 2em;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
#demo .featured-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 90;
}
section#demo {
  background: #f0eee8 url('../img/bg-featured2.png') 42% 90% no-repeat;
  color: #464542;
  padding: 0;
}
section#demo.featured {
  background: #f0eee8 url('../img/bg-featured.jpg') top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#demo.featured h1,
section#demo.featured p {
  color: white;
}
section#demo.freelancer {
  background: #000 url('../img/skynet_domination.jpg') center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*opacity:0.4;*/
  /*opacity: 0.7; filter: alpha(opacity=70);*/
}
section#demo.freelancer h1,
section#demo.freelancer p {
  /*color: #2980B9;*/
  color: white;
  font-weight: 900;
}
section#demo.freelancer span {
  font-weight: 900;
}
section#demo.app {
  background: #f0eee8 url('../img/bg-app2.jpg') top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#demo.app h1,
section#demo.app p {
  color: white;
  font-weight: 200;
}
section#demo.app span {
  color: white;
  font-weight: 400;
}
section#demo h1,
section#demo p {
  color: #464542;
  padding: 0 4em;
}
section#home {
  background: #f0eee8 url('../img/bg-featured2.png') 42% 90% no-repeat;
  color: #464542;
  padding: 0;
}
section#home.featured {
  background: #f0eee8 url('../img/bg-featured.jpg') top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#home.featured h1,
section#home.featured p {
  color: white;
}
section#home.freelancer {
  /*background: #f0eee8 url('../img/iot_teal_opacity.jpg') top center no-repeat;*/
/*  background: #000 url('../img/skynet_background.jpg') top center no-repeat;*/
  background: #000 url('../img/skynet_background2.jpg') top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*opacity:0.4;*/
  /*opacity: 0.7; filter: alpha(opacity=70);*/
}
section#home.freelancer h1,
section#home.freelancer p {
  /*color: #2980B9;*/
  color: white;
  font-weight: 900;
}
section#home.freelancer span {
  font-weight: 900;
}
section#home.app {
  background: #f0eee8 url('../img/bg-app2.jpg') top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#home.app h1,
section#home.app p {
  color: white;
  font-weight: 200;
}
section#home.app span {
  color: white;
  font-weight: 400;
}
section#home h1{
  color: #ffffff;
  padding: 0 4em;
}
section#home p {
  /*color: #464542;*/
  padding: 0 4em;
}
section#about {
  background-color: #262626;
  position: relative;
}
section#about h1 {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}
section#about .feature {
  margin-bottom: 3em;
  text-align: center;
  display: none;
}
section#about .feature .icon {
  font-size: 6em;
  margin-bottom: 0.3em;
  padding: 0;
  width: auto;
  color: #eb5055;
}
section#about .feature h3 {
  font-weight: 400;
}
section#about .feature p {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
}

section#examples {
  background-color: #262626;
  position: relative;
}
section#examples h1 {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}
section#examples .feature {
  margin-bottom: 3em;
  text-align: center;
  display: none;
}
section#examples .feature .icon {
  font-size: 6em;
  margin-bottom: 0.3em;
  padding: 0;
  width: auto;
  color: #eb5055;
}
section#examples .feature h3 {
  font-weight: 400;
}
section#examples .feature p {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
}


section#features,
section#projects {
  background: #3498db;
  text-align: center;
  padding-bottom: 0;
}
section#features h1,
section#projects h1 {
  margin-bottom: 0.5em;
}
section#features p,
section#projects p {
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.8em;
}
section#restapi {
  /*background: #f0eee8;*/
  background: #e0e0e0;
  color: #464542;
}
section#pricing,
section#team,
section#websockets {
  background-color: #eb5055;
  padding: 4em 0 8em;
}
section#footer-cta {
  background: #222222;
  padding: 10em 0;
}
section#footer-cta h1 {
  margin-bottom: 0.5em;
}
section#footer-cta p {
  font-size: 1.3em;
  font-weight: 100;
}
section#footer-cta .location {
  margin-bottom: 2em;
}
section#footer-cta .location .btn {
  margin-top: 6em;
}
.wrapper section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.no-touch .wrapper section {
  background-attachment: fixed;
}
#about h1 {
  text-transform: uppercase;
  margin: 0 0 0.7em;
  font-weight: 400;
}
#about h2 {
  color: white;
  font-size: 2em;
  font-weight: 300;
  text-transform: none;
  margin: 0 0 2em;
}
#about h3 {
  margin: 0 0 0.5em;
  color: white;
  font-weight: 300;
}
#about p {
  line-height: 1.4em;
}
#pricing .plan {
  background: #e9d8c6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
#pricing .plan:hover {
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -o-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
#pricing .plan .plan-title {
  background: #d4b18f;
  margin: 0;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}
#pricing .plan .plan-title.dark {
  background: #cba278;
}
#pricing .plan .plan-title.darker {
  background: #c6986a;
}
#pricing .plan .plan-title h2 {
  display: block;
  padding: 1em;
  margin: 0;
  font-weight: bold;
  text-align: center;
}
#pricing .plan .plan-title span {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: 300;
}
#pricing .plan .plan-title div {
  padding: 2.2em 1em 0;
  text-align: right;
}
#pricing .plan .plan-title input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#pricing .plan .plan-features {
  text-align: center;
  list-style: none;
  margin-top: 1em;
}
#pricing .plan .plan-features li {
  padding: 0.8em 0;
  font-size: 1.2em;
  color: #464542;
  letter-spacing: 1px;
}
#pricing .plan .plan-cta {
  display: block;
  margin: 0;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
}
#pricing .plan .plan-cta .plan-price {
  color: #464542 !important;
  margin: 0;
  padding: 0.7em 0.4em 0.4em;
  font-size: 4em;
  font-weight: bold;
  color: white;
  width: 50%;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pricing .plan .plan-cta .plan-price > span {
  font-size: 12px;
  font-weight: normal;
}
#pricing .plan .plan-cta .plan-buy {
  margin: 2.3em 2em 0;
}
#pricing .plan .plan-cta .plan-buy .btn {
  background: #464542;
}
#pricing .plan .plan-cta .plan-buy .btn:hover {
  background: #2c2b29;
}
#pricing .plan.large .plan-title {
  margin-top: -30px;
}
#pricing .plan.large .plan-title h2 {
  padding: 1.5em;
}
#pricing .plan.large .plan-title div {
  padding: 3em 1em 0;
  text-align: right;
}
.featuredSlider {
  list-style: none;
  margin: 0;
  padding: 0;
}
#restapi blockquote {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#restapi blockquote p {
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#team .row {
  margin-bottom: 2em;
  padding-bottom: 3em;
  border-bottom: 1px dashed #cea780;
}
#team .row:last-child {
  border-bottom: none;
}
#team .team-member {
  border-right: 1px dashed #cea780;
  padding-right: 2em;
  text-align: justify;
}
#team .team-member span.image {
  float: left;
  margin: 0 1.5em 1em 0;
  -webkit-box-shadow: 0 6px #ca9f75;
  -moz-box-shadow: 0 6px #ca9f75;
  box-shadow: 0 6px #ca9f75;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 5px solid white;
}
#team .team-member .profile h2 {
  display: inline-block;
  margin: 0;
  font-weight: bold;
}
#team .team-member .profile blockquote {
  border: 0;
  font-style: italic;
}
#team .team-member .profile .icon {
  font-size: 2em;
  margin: 0 0.8em 0 0;
  color: #464542;
  float: right;
}
#team .team-member .profile .icon:hover {
  color: #2c2b29;
}
#team .span6:last-child .team-member {
  border-right: none;
}
footer {
  background-color: #1d1d1d;
  padding: 2em 0;
  color: white;
}
footer a {
  color: #464542;
}
#footer-cta {
  text-align: center;
}
#footer-cta .try-now {
  padding-bottom: 3em;
}
#footer-cta h3 {
  font-weight: 300;
}
#footer-cta .social {
  margin-top: 5.5em;
}
#footer-cta .social a {
  margin: 2em 0.7em 0;
}
#footer-cta .social a img {
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
#footer-cta .social a img:hover {
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -o-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
#footer-cta .social a:last-child {
  margin-right: 0;
}
.ie8 .social img {
  width: 20%;
}
#footer-cta .bold {
  font-size: 1.5em;
  line-height: 2em;
  color: white;
}
@media (max-width: 1220px) {
  body {
    font-size: 85%;
  }
  .header-cta {
    width: 270px !important;
  }
  a.scroll {
    padding: 1em !important;
  }
  .bx-wrapper img {
    max-width: 100%;
    display: block;
    width: 90%;
  }
  #pricing .plan .plan-cta .plan-price {
    width: 40% !important;
  }
  #footer-cta .social img {
    width: 10%;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  header .header-cta {
    width: 270px !important;
  }
  header .logo h1 {
    font-size: 2.7em;
  }
  #home h1 {
    font-size: 2.7em !important;
  }
  #pricing .plan .plan-cta .plan-price {
    width: 100% !important;
    text-align: center;
  }
  #pricing .plan .plan-cta .plan-buy {
    width: 100%;
    margin: 1em 0;
  }
  #footer-cta .social img {
    width: 10%;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  header .logo {
    display: inline-block !important;
    float: left;
    width: 300px;
    margin-top: 1em;
  }
  header .logo h1 {
    font-size: 2.5em;
  }
  header nav {
    display: none !important;
  }
  #home .hero-content h1 {
    font-size: 2em;
    position: relative;
    line-height: 2em;
  }
  #pricing .plan {
    margin-bottom: 4em;
  }
  .bx-controls-direction {
    display: none;
  }
  #team .row {
    margin-left: 2em;
    padding-bottom: 0em;
    border-bottom: 0;
  }
}
@media only screen and (max-width: 568px) {
  .wrapper > nav {
    display: none;
  }
  .logo {
    text-align: center;
    margin: 0 !important;
  }
  .logo h1 {
    margin: 0;
  }
  .header-cta {
    display: none !important;
  }
  #home .hero-content h1 {
    font-size: 2em;
    margin: 1em 0;
    padding: 0 0.5em;
    line-height: 1.5em;
  }
  #home .hero-content a.scroll {
    padding: 0.7em 1em !important;
    font-size: 1.3em;
  }
  section#about h1 {
    font-size: 2.3em;
    text-align: center;
    padding: 0 0.2em;
  }
  #features h1,
  #projects h1 {
    font-size: 2.3em;
  }
  #features p,
  #projects p {
    font-size: 1.5em !important;
    line-height: 1.5em !important;
  }
  #team {
    text-align: center !important;
  }
  #pricing .plan .plan-cta .plan-price {
    width: 40% !important;
  }
  #signup-form {
    width: 240px;
    padding: 15px;
  }
  .popover {
    padding: 10px;
  }
  .user-form h2 {
    font-size: 20px;
    margin: -15px -25px 0px;
  }
  .user-form .btn {
    padding: 0.2em 0.5em;
  }
  .user-form div.divider {
    margin: 0.5em 0;
  }
  .user-form input {
    padding: 0.4em 0.5em !important;
  }
  .user-form input[type='submit'] {
    margin-top: 0.5em;
  }
  .btn.cta {
    padding: 25px 40px;
    margin: 15px 30px;
  }
}
