# Npm install files
node_modules
npm-debug.log

# Log file
skynet.txt

# Swap and meta data files
.DS_Store
*.swp
*.swo

#NEDB files
*.db
v8.log
*.sublime-workspace
coverage
.idea
meshblu.json

.startmeshblu.log
test-forwarded-for.sh
# dev files
.*-dev
