sudo: false
language: node_js
node_js:
  - '0.10'
cache:
  bundler: true
  directories:
    - node_modules
env:
  - USE_MONGO=true
  - USE_MONGO=false
services:
  - mongodb
notifications:
  flowdock: e7454f5285e7b9ab67009802d5560490
deploy:
  - provider: opsworks
    access_key_id: AKIAIT4X4NDGM2WVL6VA
    secret_access_key:
      secure: fqCKEwrQBo2P9G6CiQqU4dv/nwQ64FWv+TRblkvZxCsGe+VKoNYSz57B2AaX0mGvTyS7qt7GHOxcU4T64KYdXpRuYe/Z2yekp7K9mcgGCqYnprwUo7Xh67kstixjKxvs4QzYRWF0tJiaeoXgLoXxu0fO111iP8bCIQc5ThBSF+8=
    app-id: e1883763-9db4-432f-900a-628dd84aceaa
    on:
      branch: master
  - provider: opsworks
    access_key_id: AKIAIT4X4NDGM2WVL6VA
    secret_access_key:
      secure: fqCKEwrQBo2P9G6CiQqU4dv/nwQ64FWv+TRblkvZxCsGe+VKoNYSz57B2AaX0mGvTyS7qt7GHOxcU4T64KYdXpRuYe/Z2yekp7K9mcgGCqYnprwUo7Xh67kstixjKxvs4QzYRWF0tJiaeoXgLoXxu0fO111iP8bCIQc5ThBSF+8=
    app-id: 7b21bb86-93bb-4a2b-b482-7a8a3ab4a23b
    on:
      branch: master
  - provider: opsworks
    access_key_id: AKIAIT4X4NDGM2WVL6VA
    secret_access_key:
      secure: fqCKEwrQBo2P9G6CiQqU4dv/nwQ64FWv+TRblkvZxCsGe+VKoNYSz57B2AaX0mGvTyS7qt7GHOxcU4T64KYdXpRuYe/Z2yekp7K9mcgGCqYnprwUo7Xh67kstixjKxvs4QzYRWF0tJiaeoXgLoXxu0fO111iP8bCIQc5ThBSF+8=
    app-id: 5fcc76e4-b0cc-41d3-b794-8a8b4ff0ed9e
    on:
      branch: staging
  - provider: opsworks
    access_key_id: AKIAIT4X4NDGM2WVL6VA
    secret_access_key:
      secure: fqCKEwrQBo2P9G6CiQqU4dv/nwQ64FWv+TRblkvZxCsGe+VKoNYSz57B2AaX0mGvTyS7qt7GHOxcU4T64KYdXpRuYe/Z2yekp7K9mcgGCqYnprwUo7Xh67kstixjKxvs4QzYRWF0tJiaeoXgLoXxu0fO111iP8bCIQc5ThBSF+8=
    app-id: 3110aaa3-dd25-49d1-be43-6c0ac5c0a8ad
    on:
      branch: staging
addons:
  code_climate:
    repo_token: 8e3f39fe338fe8465f0400555fcbf8a2a3293f9c586b64588e8ce198e64bda58
after_script:
  - cat coverage/lcov.info | codeclimate

