module.exports = {
  databaseUrl: "mongodb://user:pass@adam.mongohq.com:1337/skynet",
  port: 3000,
  log: true,
  rateLimit: 10, // 10 transactions per user per secend
  plivo: {
    authId: "abc",
    authToken: "123"
  },
  redisHost: "xyz.redistogo.com",
  redisPort: "1234",
  redisPassword: "abcdef"    
};