module.exports = {
  databaseUrl: "mongodb://user:pass@adam.mongohq.com:1337/skynet",
  ssl: false,
  port: 3000,
  sslPort: 3001, // 443 for SSL
  log: true,
  elasticSearch: {
    host: "localhost",
    port: "9200"
  },
  rateLimit: 10, // 10 transactions per user per second
  plivo: {
    authId: "abc",
    authToken: "123"
  },
  redisHost: "xyz.redistogo.com",
  redisPort: "1234",
  redisPassword: "abcdef"
};
