id: docker-builder-$SHORT_COMMIT
kind: Pod
apiVersion: v1beta1
labels:
  name: $DOCKER_LABEL_NAME
  version: "$SHORT_COMMIT"
desiredState:
  manifest:
    version: v1beta1
    id: docker-builder-$SHORT_COMMIT
    restartPolicy:
      never: {}
    containers:
      - name: docker-builder-$SHORT_COMMIT
        image: octoblu/dind-codedeploy
        privileged: true
        volumeMounts:
          - name: docker-sock
            mountPath: /var/run/docker.sock
        env:
          - name: GIT_REPO
            value: https://github.com/$TRAVIS_REPO_SLUG.git
          - name: GIT_TAG
            value: $TRAVIS_COMMIT
          - name: IMAGE_NAME
            value: $TRAVIS_REPO_SLUG:$SHORT_COMMIT
          - name: USERNAME
            value: $DOCKER_USERNAME
          - name: PASSWORD
            value: $DOCKER_PASSWORD
          - name: DEPLOY_APPLICATION_NAME
            value: $DEPLOY_APPLICATION_NAME
          - name: DEPLOY_REGION
            value: $DEPLOY_REGION
          - name: DEPLOYMENT_GROUP
            value: $DEPLOYMENT_GROUP
          - name: DEPLOY_BUCKET
            value: $DEPLOY_BUCKET
          - name: DEPLOY_KEY
            value: $DEPLOY_KEY
          - name: AWS_ACCESS_KEY_ID
            value: $AWS_ACCESS_KEY_ID
          - name: AWS_SECRET_ACCESS_KEY
            value: $AWS_SECRET_ACCESS_KEY
    volumes:
      - name: docker-sock
        source:
          hostDir:
            path: /var/run/docker.sock
