id: meshblu-docker-green
kind: Service
apiVersion: v1beta1
port: $GREEN_PORT
containerPort: 80
publicIPs:
  - 172.20.0.10
  - 172.20.0.11
  - 172.20.0.12
  - 172.20.0.13
labels:
  name: meshblu-docker-green
  version: 1.0.0
selector:
  name: meshblu-docker-green
